body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 545px;
}

.checkbox-inline {
    padding-top: 0px !important;
    margin-left: 0;
    margin-right: 5px;
    width: auto !important;
}

[class*='col-'] > form {
    display: inline !important;
}

.no-gutter > [class*='col-'] {
    padding-right: 2px;
    padding-left: 2px;
}

.jumbotron {
    padding-top: 0;
}

.form-group {
    margin: 10px;
}

.fiddle-partial-textarea {
    padding-bottom: 0;
}

div.fiddle-partial-textarea > textarea{
    height: 80px;
}

#toggle {
      position:absolute;
      width:40%;
      height:460px;
      top: 305px;
      left: 50%;
      z-index: 1;
      background-color: #fbfbfb;
      border: 1px solid black;
      border-radius: 4px;
      display: none;
  }

#toggleDemo {
      position:absolute;
      width:40%;
      height:460px;
      top: 900px;
      left: 50%;
      z-index: 1;
      background-color: #fbfbfb;
      border: 1px solid black;
      border-radius: 4px;
      display: none;
  }

#Google {
    background-color: transparent;
    border: none;
}


/* Auto Hide of Save Message*/
#hideMe {
    -moz-animation: cssAnimation 0s ease-in 5s forwards;
    /* Firefox */
    -webkit-animation: cssAnimation 0s ease-in 5s forwards;
    /* Safari and Chrome */
    -o-animation: cssAnimation 0s ease-in 5s forwards;
    /* Opera */
    animation: cssAnimation 0s ease-in 5s forwards;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@keyframes cssAnimation {
    to {
        width:0;
        height:0;
        overflow:hidden;
    }
}
@-webkit-keyframes cssAnimation {
    to {
        width:0;
        height:0;
        visibility:hidden;
    }
}