
<h3>Are you sure?</h3>
<div>
    @using (Html.BeginForm("Delete", "Document","POST"))
    {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-primary" />
        </div>
    }

</div>
