@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
<script type="IN/MemberProfile" data-id="https://www.linkedin.com/in/beelerdavid" data-format="inline" data-related="false">
</script>
